<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Editing Branch</h3>

    <br>

    <%= render 'form', branch: @branch %>

    <br>

    <!-- <%= link_to 'Show', @branch, class: "button" %> | -->
    <%= link_to '<< Back', branches_path, class: "button secondary" %>
  </div>
</div>
