<h3>Editing Branch</h3>

<br>

<%= render 'form', branch: @branch %>

<br>

<!-- <%= link_to 'Show', @branch, class: "button" %> | -->
<%= link_to '<< Back', branches_path, class: "button secondary" %>
