<h3>Editing Checking Statement</h3>

<br/>

<%= render 'form', checking_statement: @checking_statement %>

<br/>

<div class="button-group">
  <%= link_to '<< Back', checking_statements_path, class: "button secondary" %>
  <%= link_to 'Show', @checking_statement, class: "button" %>
</div>
