<h3>Editing Share Statement</h3>

<br/>

<%= render 'form', share_statement: @share_statement %>

<br/>

<div class="button-group">
  <%= link_to '<< Back', share_statements_path, class: "button secondary" %>
  <%= link_to 'Show', @share_statement, class: "button" %>
</div>
