<h3>Editing Credit Union</h3>

<br>

<%= render 'form', credit_union: @credit_union %>

<br>

<%= link_to '<< Back', credit_unions_path, class: "button secondary" %>
<!-- <%= link_to 'Show', @credit_union, class: "button" %> | -->
