<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Editing Credit Union</h3>

    <br>

    <%= render 'form', credit_union: @credit_union %>

    <br>

    <!-- <%= link_to 'Show', @credit_union, class: "button" %> | -->
    <%= link_to '<< Back', credit_unions_path, class: "button secondary" %>
  </div>
</div>
