<h3>Editing Share Account</h3>

<br/>

<%= render 'form', share_account: @share_account %>

<br/>

<div class="button-group">
  <%= link_to '<< Back', share_accounts_path, class: "button secondary" %>
  <%= link_to 'Show', @share_account, class: "button" %>
</div>
