<h3>Editing Saving Statement</h3>

<br/>

<%= render 'form', saving_statement: @saving_statement %>

<br/>

<div class="button-group">
  <%= link_to '<< Back', saving_statements_path, class: "button secondary" %>
  <%= link_to 'Show', @saving_statement, class: "button" %>
</div>
