<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>New Saving Statement</h3>

    <br/>

    <%= render 'form', saving_statement: @saving_statement %>

    <br/>

    <%= link_to 'Back', saving_statements_path %>

  </div>
</div>
