<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>New User</h3>

    <div>&nbsp;</div>

    <%= render 'form', user: @user %>

    <div>&nbsp;</div>

    <%= link_to '<< Back', users_path, class: "button secondary" %>
  </div>
</div>
