<h3>Editing Share Product</h3>

<%= render 'form', share_product: @share_product %>

<div class="button-group">
  <%= link_to '<< Back', share_products_path, class: "button secondary" %>
  <%= link_to 'Show', @share_product, class: "button" %>
</div>
