<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>New Share Product</h3>

    <br/>

    <%= render 'form', share_product: @share_product %>

    <br/>

    <%= link_to '<< Back', share_products_path, class: "button secondary" %>

  </div>
</div>

