<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Editing Transaction</h3>

    <br/>

    <%= render 'form', transfer: @transfer %>

    <br/>

    <div class="button-group">
      <%= link_to '<< Back', transfers_path, class: "button secondary" %>
      <%= link_to 'Show', @transfer, class: "button" %>
    </div>

  </div>
</div>
