<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>New Transaction</h3>

    <br/>

    <%= render 'form', transfer: @transfer %>

    <br/>

    <%= link_to 'Back', transfers_path, class: "button secondary" %>

  </div>
</div>
