<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Transaction</h3>

    <br/>

    <div class="callout">
      <p>
      <strong>Happened At:</strong>
      <%= @transfer.happened_at %>
      </p>

      <p>
      <strong>Transactable:</strong>
      <%= @transfer.transferable %>
      </p>
    </div>

    <div class="button-group">
      <%= link_to '<< Back', transfers_path, class: "button secondary" %>
      <%= link_to 'Edit', edit_transfer_path(@transfer), class: "button warning" %>
    </div>

  </div>
</div>
