<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Editing Saving Account</h3>

    <br/>

    <%= render 'form', saving_account: @saving_account %>

    <br/>

    <div class="button-group">
      <%= link_to '<< Back', saving_accounts_path, class: "button secondary" %>
      <%= link_to 'Show', @saving_account, class: "button" %>
    </div>

  </div>
</div>
