<h3>Editing Saving Product</h3>

<%= render 'form', saving_product: @saving_product %>

<div class="button-group">
  <%= link_to '<< Back', saving_products_path, class: "button secondary" %>
  <%= link_to 'Show', @saving_product, class: "button" %>
</div>
