<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">CUIS</li>
      <li>
        <%= link_to "Credit Unions", credit_unions_path %>
      </li>
      <li>
        <a href="#">Members</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Savings</a></li>
      <li><a href="#">Checkings</a></li>
      <li><a href="#">Deposits</a></li>
      <li><a href="#">Loans</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_signed_in? %>
        <li>
          <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Sign in', new_user_session_path)  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
