<h3>Editing Member</h3>

<br/>

<%= render 'form', member: @member %>

<br/>

<div class="button-group">
  <%= link_to '<< Back', members_path, class: "button secondary" %>
  <%= link_to 'Show', @member, class: "button" %>
</div>
