<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Editing Member</h3>

    <br/>

    <%= render 'form', member: @member %>

    <br/>

    <div class="button-group">
      <%= link_to '<< Back', members_path, class: "button secondary" %>
      <%= link_to 'Show', @member, class: "button" %>
    </div>

  </div>
</div>
