<h3>Editing Account</h3>

<br/>

<%= render 'form', account: @account %>

<br/>

<div class="button-group">
  <%= link_to '<< Back', accounts_path, class: "button secondary" %>
  <%= link_to 'Show', @account, class: "button" %>
</div>
